# Python / Backend
.env
__pycache__/
*.pyc
*.pyo
.venv/
venv/
.requirements.txt
secure_storage_vault/
frontend/.env
frontend/.env.local
frontend/.env.production
frontend/node_modules/
frontend/dist/
frontend/build/
.backup.sql